body {
    background-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
h1 {
    color: blueviolet;
}
h2 {
    color: darkorchid;
}
h4 {
    color: darkred;
}
p {
    color: limegreen;
}
